.home {
  display: flex;
}

.home-text {
  text-align: center;
  letter-spacing: 2px;
  font-size: 3vh;
  max-height: 600px;
}
.home-social-media {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 40%;
}
.left-home {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.home-image {
  height: 50vh;
  margin-top: 4vh;
}
.right-home {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-left: 15vh;
}
@media only screen and (max-width: 2560px) {
  .right-home {
    justify-content: center;
  }
}
@media only screen and (max-width: 810px) {
  .home {
    flex-direction: column;
    height: auto;
  }
  .home-text {
    text-align: center;
    font-size: 10pt;
    letter-spacing: 2px;
  }
  .home-social-media {
    display: none;
  }
  .left-home {
    width: 100%;
  }
  .home-image {
    display: none;
  }
}
