.whoweare {
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-wwa {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.left-wwa-image {
  width: 35vw;
}
.right-wwa {
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 800px) {
  .whoweare {
    flex-direction: column;
  }
  .left-wwa {
    width: 100%;
  }
  .right-wwa {
    width: 100%;
  }
  .left-wwa-image {
    width: 60vw;
  }
}
