.home {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-text {
  text-align: justify;
  letter-spacing: 1px;
  font-size: 20pt;
}
.home-social-media {
  display: flex;
  align-items: flex-end;
  width: 95%;
}
.left-home {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.left-home-image {
  width: 30vw;
}
.right-home {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 800px) {
  .home {
    flex-direction: column;
  }
  .left-home {
    width: 100%;
  }
  .right-home {
    width: 100%;
  }
  .left-home-image {
    width: 60vw;
  }
}
